/* will compile to: App__app___NghkZ */
.app {
  text-align: center;
}
/* will compile to: App__header___hwRc6 */
.logo {
  animation: spin infinite 20s linear;
  height: 80px;
}
/* will compile to: App__logo___3CJMU */
.header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
/* will compile to: App__intro___1dzYQ */
.intro {
  color: $primary; /* variable usage */
  @mixin noSelect; /* mixin usage */
  @mixin OpenSans 30px; /* mixin with value usage */
}
/* will compile to: App__localExample___dadq2 */
.localExample {
  background: orange;
}

:global {
  /* will compile to: global-class-name */
  .global-class-name {
    background: green;
  }
}